body {
    background-color: #181818;
    background-repeat: repeat;
    /* margin-left: 38%; */
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: Verdana;
    color: brown;
}

h3 {
    color: white;
}

li {
    color: white;
}

a {
    color: white;
}
h2 {
    color: white;
}
ul{
    display: flex;
    gap: 18%;
}
